# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TGPToolchain.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jean Luc Nuerrenberg\RiderProjects\TGPToolchain\.idea\.idea.TGPToolchain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
